FlowerClient/xml-resources/web-service-references/FlowerService/wsdl/localhost_8080/FlowerService/FlowerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.flower.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.flower.org/">

  <xs:element name="IOException" type="tns:IOException"/>

  <xs:element name="getFlower" type="tns:getFlower"/>

  <xs:element name="getFlowerResponse" type="tns:getFlowerResponse"/>

  <xs:element name="getThumbnails" type="tns:getThumbnails"/>

  <xs:element name="getThumbnailsResponse" type="tns:getThumbnailsResponse"/>

  <xs:element name="hello" type="tns:hello"/>

  <xs:element name="helloResponse" type="tns:helloResponse"/>

  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFlower">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<xs:complexType name="getFlowerResponse">
    <xs:sequence>
        <xs:element xmlns:xmime="http://www.w3.org/2005/05/xmlmime" name="return" type="xs:base64Binary" minOccurs="0" xmime:expectedContentTypes="image/jpeg"/> 
    </xs:sequence>
</xs:complexType>

  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getThumbnails">
    <xs:sequence/>
  </xs:complexType>

<xs:complexType name="getThumbnailsResponse">
    <xs:sequence>
        <xs:element xmlns:xmime="http://www.w3.org/2005/05/xmlmime" name="return" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded" xmime:expectedContentTypes="image/jpeg"/>
    </xs:sequence>
</xs:complexType>
</xs:schema>