FlowerClient/xml-resources/web-service-references/FlowerService/wsdl/localhost_8080/FlowerService/FlowerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.flower.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://service.flower.org/" name="FlowerService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.flower.org/" schemaLocation="http://localhost:8080/FlowerService/FlowerService?xsd=1"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="getThumbnails">
    <part name="parameters" element="tns:getThumbnails"/>
  </message>
  <message name="getThumbnailsResponse">
    <part name="parameters" element="tns:getThumbnailsResponse"/>
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException"/>
  </message>
  <message name="getFlower">
    <part name="parameters" element="tns:getFlower"/>
  </message>
  <message name="getFlowerResponse">
    <part name="parameters" element="tns:getFlowerResponse"/>
  </message>
  <portType name="FlowerService">
    <operation name="hello">
      <input wsam:Action="http://service.flower.org/FlowerService/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://service.flower.org/FlowerService/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="getThumbnails">
      <input wsam:Action="http://service.flower.org/FlowerService/getThumbnailsRequest" message="tns:getThumbnails"/>
      <output wsam:Action="http://service.flower.org/FlowerService/getThumbnailsResponse" message="tns:getThumbnailsResponse"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://service.flower.org/FlowerService/getThumbnails/Fault/IOException"/>
    </operation>
    <operation name="getFlower">
      <input wsam:Action="http://service.flower.org/FlowerService/getFlowerRequest" message="tns:getFlower"/>
      <output wsam:Action="http://service.flower.org/FlowerService/getFlowerResponse" message="tns:getFlowerResponse"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://service.flower.org/FlowerService/getFlower/Fault/IOException"/>
    </operation>
  </portType>
  <binding name="FlowerServicePortBinding" type="tns:FlowerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getThumbnails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="getFlower">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="FlowerService">
    <port name="FlowerServicePort" binding="tns:FlowerServicePortBinding">
      <soap:address location="http://localhost:8080/FlowerService/FlowerService"/>
    </port>
  </service>
</definitions>